# Pandas Data Cleaning Problems

**How to use functionality to clean-up datasets**

In [14]:
# Import Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Load Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup (to convert job_posted_date to datetime)
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## Remove Rows with Missing Values (2.2.1) - Problem

Remove rows where the **salary_year_avg** column has missing values. Display the number of rows before and after removing.

Hint:
Use the **df.dropna()** function with the **subset** parameter set to **salary_year_avg**.

In [15]:

# Alternatively: 
# df_no_na = df['salary_year_avg'].dropna()
# print('Original dataframe:', len(df))
# print('New dataframe:', len(df_no_na))

rows_before = len(df)
df_cleaned = df.dropna(subset=['salary_year_avg'])
rows_after = len(df_cleaned)
print('Original dataframe:', rows_before)
print('New dataframe:', rows_after)

Original dataframe: 785741
New dataframe: 22003

In [16]:
median_salary_hour = df['salary_hour_avg'].median()
median_salary_hour

45.97999954223633

## Remove Duplicate Rows (2.2.2) - Problem

Remove duplicate rows from the DataFrame based on the **job_location** column. Display the number of rows before and after removing duplicates.

Hint:

Use the **df.drop_duplicates()** function with the **subset** parameter set to **job_location**.

In [17]:
rows_before = len(df)
df_clean_loc = df.drop_duplicates(subset=['job_location'])
rows_after = len(df_clean_loc)
print('Original dataframe:', rows_before)
print('New dataframe:', rows_after)

Original dataframe: 785741
New dataframe: 17218

In [18]:
# Alternatively:
rows_before = len(df)
df_unique = df.drop_duplicates(subset=['job_location'])
rows_after = df_unique.shape[0]
rows_before, rows_after

(785741, 17218)

## Fill Missing Values in Column (2.2.3) - Problem

Fill missing values in the **salary_rate** column with the string 'Unknown'. Display the first 10 rows of the **salary_rate** column before and after filling.

Hint:

Use the **df.fillna()** function with the **value** parameter set to 'Unknown'.

In [21]:
before_filling = df['salary_rate'].head(10)
df_unknown = df.fillna({'salary_rate': 'Unknown'}) 
after_filling = df_unknown['salary_rate'].head(10)
print('Before filling:', before_filling)
print('After filling', after_filling)

Before filling: 0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
9    None
Name: salary_rate, dtype: object
After filling 0    Unknown
1    Unknown
2    Unknown
3    Unknown
4    Unknown
5    Unknown
6    Unknown
7    Unknown
8    Unknown
9    Unknown
Name: salary_rate, dtype: object